@charset "UTF-8";

* {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 25px 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 25px;
    font-size: 14pt;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.26);
    color: rgb(211, 211, 211);
    transition-duration: .6s;
}

li.nav {
    display: inline;
    list-style-type: none;
    padding-left: 40px;
}

main {
    max-width: 800px;
    margin: 8px auto;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 2px 4px 14px 1px rgb(0 0 0 / 23%);
}

main p {
    line-height: 1.5em;
    text-indent: 1.5em;
    padding: 10px 0px 10px 0px;
}

section > h1 {
    text-align: center;
}

section h1, h2 {
    padding: 0px 0px 15px 0px;
    color: #1f1f1f;
}

footer {
    margin: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

@media screen and (max-width: 540px) {
    header, ul, li {
        display: flex;
        flex-direction: column;
    }
    main {
        margin-top: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0%;
    }
    li, ul {
        font-size: 14pt;
        margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
    }
    nav a:hover {
        font-size: 15pt;
        transition-duration: .6s;
        position: relative;
    }
    img.img-lucas {
        display: none;
    }
}
